/* #navagation{
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
    display: flex;
 padding: 15px 0px 15px 0px;
}
img{
    padding-left: 100px;
}
.bars{
    color: #ffffff;
   ;

    gap: 3%;
} */

 .first{
    background-color: yellow;
    height: 170px;
    text-align: center;
    width: 100%;
 }
 .second{
    background-color: red;
    margin-top: 0%;
    height: 75px;
    width: 100%;
    text-align: center;
 }
 .third{
    background-color: green;
    width: 50%;
    height: 200px;
    margin: auto;
}
.fourth{
    background-color: orange;
    width: 50%;
    height: 200px;
    text-align: end;
    margin: auto;
}
.box{
    display: flex;
}
footer{
    background-color:blue;
    text-align: center;
    margin: auto;
    line-height: 50px;
    height: 55px;
}
*{
    margin:0px;
    padding: 0;
}