#form{
    background-color: #ffffff;
    height: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    color: purple;
   
}
.h3{
    padding-left: 28%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 30%;
    margin-top: 10%;
    color: blue;
}
.name{
    display: flex;
    padding-left: 28%;
    gap: 10%;
     color: red;
}
.age{
    display:flex;
    padding-left: 28%;
    gap: 23%;
     color: blue;
}
.inf{
    display: flex;
    padding-left:28%;
    gap: 15%;
     color: blue;
}
body{
    background-color:orange;
}
