img{
    height: 50px;
    width: 45px;
   
    margin-right: 20px;
}

.nav{
    display: flex;
}
    
.flex{
    display: flex;
    gap: 27px;
    margin-left: 55px;
    position: sticky;
    cursor: pointer;
}

.search{
    border: none;
    outline: none;
    font-size:15px; 
    width: 350px;
    background-color: rgba(217, 220, 224, 0.249);
}
.gap{
    margin-left: 50px;
    border-width: 5px;
    background-color: rgba(79, 83, 86, 0.13) ;
    border-radius: 15px;
    height: 30px;
    margin-top: 12px;
    padding-left: 20px;
    padding-top: 10px;

}
.profile{
    margin-top: -2px;
}
.p1{
    margin-top: 15px;
    margin-left: 35px;
}
.p2{
    padding-left: 30px;
}
.zindex{
      position: relative;
    background-color: red;
    padding: 0px 5px;
    border-radius: 50%;
    top: -12px;
    right: 212%;
 
    
}
.p3{
    margin-left: 10px;
    margin-top: 15px;
}







.cards img{
    height: 250px;
    width: 200px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 45px;
    margin-top: 41px;
}
.cards p{
      padding: 0px;
    margin: 0px;
}
.cards h3{
      padding: 0px;
    margin: 0px;
}

span{
    color:red;
    
}
.cards div:hover{
    box-shadow: 10px 10px 10px rgb(97, 92, 92);
}
